//font variables
$font-stack:  futura-pt, sans-serif;
$font-style: normal;
$weight: 300;
$font-stack2: Georgia, sans-serif;
$text-center: center;
//colors
$quoteColor: #19647E;
$headingColor: #37383b;
$captionColor: #ffffff;
$footerColor: gray;
$overlayColor: rgba(0,0,0,.8);
//color change1 color variables
$color1: #084c61;
$color2: #ff715b;
$color3: #17a398;
$color4: #cc2936;
//color change 2 color variables
$color5: #f6511d;
$color6: #7fb800;
$color7: #a755c2;
$color8: #ff206e;
//skew animation variables
$skewRight: 10deg;
$skewLeft: -10deg;
//rotation variables
$full:360deg;
$stop:0deg;