@import'utils/vars';
@import 'utils/mixins';
//overall styling of the html/body
*
{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body, html
{
    @include commonElements(960px, 100%, 0px auto);
}
//styling of the quotes, paragraph and headings
q, p
{
    color: $quoteColor;
    display: block;
    text-align: center;
    @include fontInfo(16px, none, $font-stack2, none);
    @include commonElements(100%,15px, 10px auto);
}
q
{
    font-style: italic; 
}
h1
{
    @include fontInfo(48px, bolder, $font-stack, $font-style);
    text-align: $text-center;
    margin: 10px;
    padding: 0;
    color: $headingColor;
}
//Api pictures/grid styling
#imageContainer
{ 
    margin: 0px;
    padding: 0;
    height: 100%;
}

[class*='cat']
{
    float: left;
    height: 30%;
    margin: 15px;
}
[class*='cat'] img
{
    @include commonElements(100%, 100%, auto);
}
[class*="cat"]:hover .overlay
{
    background-color: $overlayColor;
    visibility: visible;
    overflow: hidden;
    position: relative;
    @include animationInfo(slideUp, .2s, none, ease-in-out);
    @include commonElements(100%, 10px, 0px auto);
}
//overlay/caption styling
.overlay 
{ 
    color: $captionColor;
    @include visibileOverflow(hidden, none);
    font-size: 10px;
    bottom: 0px;
    margin: 0px;
}
.overlay img
{
    height: 15px;
    margin-top: 10px;
    padding: 0px;
    float: left;
    width: 10%;
}
.overlay h3
{
    margin-top: 22px;
    @include fontInfo(16px, none, $font-stack2, none);
}
.overlay h2
{
    @include fontInfo(18px, none, $font-stack2, none);
}
//aligning the cat icon at the top of the page
#catImage
{
    margin-top: 20px !important;
    display: block;
    width: 50px;
    margin: 0 auto;
}
//footer styling
footer
{
    text-align: $text-center;
    bottom: 0px;
    a
    {
       text-decoration: none;
       color: $footerColor;
    }
}
//2nd animation that rotates the icon when it is clicked
.clickAnimation
{
    @include animationInfo(rotateIcon, 2s, none, ease-in-out);
}
//rotates icon backwards
.backwardsRotation
{
    @include animationInfo(rotateBackwards, 2s, none, ease-in-out);
}
//changes color of the element with the name .color1
.color1
{
    @include animationInfo(colorChange1, 6s, none, ease-in-out);
}
//changes the color of the element with the name .font1(heading 1's original class)
.font1
{
    @include animationInfo(colorChange2, 6s, none, ease-in-out);
}
//media queries
    //mobile
@media screen and (min-width:320px) and (max-width: 425px) 
{
    .cat:hover .overlay
    {
        @include animationInfo(slideUp, .2s, forwards, ease-in-out);
        height: 100px;
        width: 100%;
    }
    body, html
    {
        width: 90%;
        margin: 0 auto !important;
    } 
     h1
    {
        font-size: 28px;
    }
    .overlay h2, .overlay h3, p, q
    {
        font-size: 12px;
    }
}
//tablet
@media screen and(min-width: 426px) and (max-width: 768px)
{
    .cat:hover .overlay
    {
        @include animationInfo(slideUp, .2s, forwards, ease-in-out);
        height: 100px;
        width: 100%;
    }
    body, html
    {
        display: flex;
        flex-direction: column;
        width:100%;
        align-content: center;
    }
    h1
    {
        font-size: 36px;
    }
    .overlay h2, .overlay h3, p, q
    {
        font-size: 14px;
    }
}
    //desktop
@media screen and (min-width: 703px) and(max-width: 768px)
{
    .cat:hover .overlay
    {
        @include animationInfo(slideUp, .2s, forwards, ease-in-out);
        @include commonElements(100%, 100px, auto);
    }
   .cat
    {
        height: 50%;
        width: 45%; 
    }
    .overlay h2, .overlay h3
    {
        font-size: 14px;
    }
}
@media screen and(min-width: 769px)and (max-width: 2400px)
{
    .cat:hover .overlay
    {
        @include animationInfo(slideUp, .2s, forwards, ease-in-out);
        height: 100px;
        width: 100%;
    }
    .cat 
    {
        width:30%;
    }
}
//keyframes for animations
    //slides up the overlay on hover
@keyframes slideUp
{
    0%{

        height: 0px;
    }
    100%{
        transform: translateY(-105px);
        height: 100px;
    }
}
    //rotates the icon based off of the assigned class when it is clicked
@keyframes rotateIcon
{
    from{
        transform: rotate($stop);
    }
    to{
        transform: rotate($full);
    }
}
    //rotates Icon in opposite directin then above
@keyframes rotateBackwards
{
    from{
        transform: rotate($full);
    }
    to{
        transform: rotate($stop);
    }
}
    //changes the color of the font first time icon is clicked
@keyframes colorChange1
{
    0%{
        color: $color1;
        transform: skew($skewRight);
    }
    25%{
        color: $color2; 
        transform: skew($skewLeft);
    }
    50%{
        color:$color3;
        transform: skew($skewRight);
    }
    100%{
        color: $color4;
        transform: skew($skewLeft);
    }
}
    //changes the font color again after icon is clicked 2nd time
@keyframes colorChange2
{
    0%{
        color: $color5;
        transform: skew($skewLeft);
    }
    25%{
        color: $color6;
        transform: skew($skewRight);
    }
    50%{
        color: $color7 ;
        transform: skew($skewLeft);
    }
    100%{
        color: $color8;
        transform: skew($skewRight);
    }
}