@import'utils/vars';

#imageContainer
{   display: flex;
    //height: 100%;
    flex-direction: column;
    margin: 10px;
    bottom: 0px;
    position: relative;
    align-items: center;
}

q, p
{

    font-size: 12px;
    display: block;
    margin: 10px auto;
    text-align: center;
}
.overlay 
{ 
    color: white;
    visibility: hidden;
    height: 0px;
  
}
h1
{
    font-family:  $font-stack;
    font-weight: $weight;
    font-style: $font-style;
    text-align: center;
}
#globe
{

    display: block;
    margin: 0 auto;
}
.overlay h2
{   
    align-items: center;
    margin-right: 5px;
    font-family:  $font-stack;
    font-weight: $weight;
    font-style: $font-style;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 5px;
}
.overlay h3
{
    font-family: $font-stack2;
    margin-left: 5px;
    margin-top: 25px;
}
.overlay img
{
    margin-top: 15px;
    margin-left: 10px;
}
.cat:hover .overlay
{
  
    position: absolute;
    left: 0;
    right: 0;
    transition: 2s 2.2s ease-in-out;
    transform: translateY(-175px);
    background-color: rgba(0, 0, 0, .8);
    transition-delay: .2s;
    visibility: visible;
    height:175px;
    overflow: hidden;
    width: 1295px;
    margin: 0 auto;

}

@media screen and (min-width:320px) and (max-width: 425px) 
{
   .cat:hover .overlay
   {
        transform: translateY(-105px);
        width: 100%;
        height: 100px;
   }
   #userInfo, #likes
   {
        font-size: 10px;
        display: flex;
        flex-direction: row;
   }

}
@media screen and(min-width: 426px)
{
    .cat:hover .overlay
    {
         transform: translateY(-105px);
         width: 100%;

    }   
}
@media screen and(min-width: 426px) and (max-width: 768px)
{
    .cat:hover .overlay
    {
         transform: translateY(-105px);
         width: 95%;
         height: 100px;
    }
    #userInfo, #likes
    {
         font-size: 12px;
         display: flex;
         flex-direction: row;
    }
}
@media screen and(min-width: 769px)and (max-width: 1024px)
{
    .cat:hover .overlay
    {
         transform: translateY(-105px);
         width: 92.5%;
         height: 100px;
    }
    #userInfo, #likes
    {
         font-size: 12px;
         display: flex;
         flex-direction: row;
    }
}