@import'utils/vars';
*
{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 10;
    padding: 10;
}
body, html
{
    width: 960px;
    margin: 0 auto;
    height: 100%;
}

#imageContainer
{ 
    margin: 10;
    padding: 0;
    height: 100%;
}

[class*='cat']
{

    float: left;
    height: 30%;
    margin: 10px;
}
[class*='cat'] img
{
    height: 100%;
    width: 100%;

}

q, p
{
    color: #19647E;
    width: 100%;
    font-size: 16px;
    display: block;
    margin: 10px auto;
    text-align: center;
}
q
{

    font-style: italic; 
}
.overlay 
{ 
    color: white;
    visibility: hidden;
    overflow: hidden;
    font-size: 10px;
    bottom: 0px;
    margin: 0px;


}
.overlay img
{
    height: 10px;
    margin-top: 10px;
    padding: 0px;
    float: left;
    width: 10%;
}
.overlay h2
{
    width: 90%;

}
h1
{
    font-family:  $font-stack;
    font-weight: bolder;
    font-style: $font-style;
    text-align: center;
    font-size: 48px;
    margin: 10px;
    padding: 0;
}
#catImage
{
    margin-top: 20px !important;
    display: block;
    width: 100px;
    margin: 0 auto;

}
.clickAnimation
{
  animation: rotateIcon 2s ease-in-out;
}
.backwardsRotation
{
    animation: rotateBackwards 2s ease-in-out backwards;
}
[class*="cat"]:hover .overlay
{
    position: relative;

    animation-name: slideUp;
    animation-duration: .2s;
    background-color: rgba(0,0,0, .8);
    visibility: visible;
    height: 10px;
    overflow: hidden;
    width: 120px;
    margin: 0 auto;
}
footer
{
   text-align: center;
   a
   {
       text-decoration: none;
       color: gray;
   }
}
@media screen and (min-width:320px) and (max-width: 425px) 
{
    .cat:hover .overlay
    {
        animation-name: slideUp;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        height: 100px;
        width: 100%;
    }

    body, html
    {
        width: 75%;
        margin: 0 auto !important;
    }
}
/*@media screen and(min-width: 426px)
{
   
    .cat:hover .overlay
    {
         transform: translateY(-105px);
         width: 100%;

    }   
}*/
@media screen and(min-width: 426px) and (max-width: 700px)
{

    .cat:hover .overlay
    {
        animation-name: slideUp;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        height: 100px;
        width: 100%;
    }
    body, html
    {
        display: flex;
        flex-direction: column;
        width:95%;
        
    }

}
@media screen and(min-width: 701px)and (max-width: 2400px)
{
    .cat:hover .overlay
    {
        animation-name: slideUp;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        height: 100px;
        width: 100%;
    }
}

@keyframes slideUp
{
    0%{

        height: 0px;
    }
    100%{
        transform: translateY(-100px);
        height: 100px;
    }
}

@keyframes rotateIcon
{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
@keyframes rotateBackwards
{
    from{
        transform: rotate(360deg);
    }
    to{
        transform: rotate(0deg);
    }
}
